{{data-table-bin columns=columnsNotInHeader viewName='binComponent'}}
<table class="table table-responsive table-hover table-condensed">
  <thead>
    {{view dataTableHeader viewName='columnCollection'}}
  </thead>
  <tbody>
    {{#each item in data}}
      <tr>
        {{#if selectable}}
          <td>{{input type='checkbox' checked=item.selected}}</td>
          {{log item.model}}
        {{/if}}

        {{#each item.row}}
          <td>{{this}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
